*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
button{
	border:none;
	outline: none;
	background: none;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.small-text{
	font-size: 0.8rem;
}

img.home-illustration{
	height:250px;
	width:250px;
	display: block;
}
img.home-illustration+p{
	color:grey;
	font-size:0.8rem;
}
.light-text{
	color:lightgrey;
}
.light-para{
	color:grey;
	font-size: 0.8rem;
}
.light-normal-para{
	color:grey;
}
.normal-link{
	cursor:pointer;
	color:rgb(0, 161, 255);

}
.header{
	position: static;
	width:100%;
	height: 12vh;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right:3%;
}
.line{
	position: static;
	width:100%;
	height: 0px;
	border: 1px solid #E8E8E8;
}
.logo img{
	transform: scale(0.7);
}
.nav{
	display:flex;
	width:20%;
	justify-content: space-between;
}
.nav .icons i{
	margin-left: 30px;
}
.listing{
font-style: normal;
font-weight: normal;
font-size: 18px;
color: rgba(0, 0, 0, 0.65);
}
.listing:hover{
	opacity:0.7;
	color:rgba(0, 0, 0, 0.65);
}
.home-container{
	padding:auto 20px;
	display:flex;
	height:86vh;
	width:100%;
	justify-content: center;
	align-items: center;
}
.home-heading{
font-family: Open Sans;
font-style: normal;
font-weight: bolder;
font-size: 48px;
line-height: 50px;
text-shadow: 2px 2px 5px lightgrey;
}
.post-btn{
padding:15px 20px;
background: #4BABE1;
border-radius: 5px;
margin-top:20px;
color:white;
font-size:36px;
font-weight: bolder;
}
.list-div{
	min-width:60%;
	padding:10px;
}
.job-list{
	max-height:35vh;
	overflow: scroll;
	margin-top:20px;
	padding:0 30px;
}
.job-list,.job-list table{
	width:100%;
}
.job-list table tbody tr{
	margin-top: 5px;
}
.job-list table tbody tr td{
	font-size: 0.9rem;
	padding:5px 5px;
}
.job-list table tbody tr td:nth-of-type(2),.job-list table tbody tr td:nth-of-type(3){
	padding-right:40px;
}
.job-list::-webkit-scrollbar{
	background: none;
	width:6px;
}
.job-list::-webkit-scrollbar-thumb{
	background: lightgrey;
	border-radius:6px;
}
.modal-content{
	border-radius:4px;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	padding:20px;
}
.part-one{
	padding-top:50px;
}
.loc-input{
	border:1px solid lightgrey;
	padding:10px;
	width:100%;
	outline:none;
}
.title-input{
	border:none;
	border-bottom:2px solid lightgrey;
	padding:10px;
	outline:none;
}
.skill-div{
	position: relative;
}
.skill-list{
	position:absolute;
	padding-left:0;
	z-index: 5;
	background: white;
	width:85%;
}
.skill-list li{
	padding:5px;
	cursor: pointer;
}
.skill-list li:hover{
	background: rgba(218, 223, 226,0.5);
}
.skills{
	padding-top:10px;
	display: flex;
	flex-wrap: wrap;
}
.skill{
	background: rgb(218, 223, 226);
	padding:3px 10px;
	border-radius:20px;
	margin:0 5px 5px 0;
}
.skill .skill-cross{
	cursor: pointer;
	font-size: 0.8rem;
	text-shadow: 1px 1px 2px grey;
}
.skill .skill-cross:hover{
	opacity: 0.5;
}
.job-cont{
	display: flex;
	justify-content: center;
	width:100%;
	padding:20px auto;
}
.job-details{
	min-width:70%;
	margin:30px auto;
	padding:20px;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.label-head{
	color:rgb(13, 66, 122);
	font-weight:bolder
}

/* multirange style */
.middle {
	position: relative;
	width: 100%;
	max-width: 500px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

/* media queries */
@media (max-width: 954px){
	.nav{
		width:30%;
	}
}
@media (max-width: 640px){
	.nav{
		width:40%;
	}
}
@media (max-width: 550px){
	.text-container{
		font-size:30px;
	}
	.home-heading{
		font-size:36px;
	}
	.post-btn{
		font-size: 24px;
	}
	.job-details{
		width:90%;
	}
	.nav .icons{
		display:none;
	}
	.nav{
		justify-content:flex-end;
	}
}